*{
  background-color: aqua;
}
div{
  width: 25%;
  height: 60vh;
  background-color: rgb(189, 236, 33);
  box-shadow:  blue;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}